Repository jaryway/formula-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown --write, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --check --ignore-unknown --write"],
  "*.{md,yml,css,json}": ["prettier --ignore-unknown --write"]
}

docs:update readme
  README.md
Due: prettier --ignore-unknown --write

build:修改配置文件
  .lintstagedrc.json
  .npmrc
  tsconfig.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

docs:更新说明文件
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.0
  CHANGELOG.md
Due: prettier --ignore-unknown --write

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.10
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.11
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.12
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.13
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.14
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.15
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.20
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat:add xxx
  CHANGELOG.md
  src/engine.ts
  tsconfig.json
Due: prettier --check --ignore-unknown --write, prettier --ignore-unknown --write

chore(release): 0.0.21
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat:add222
  src/engine.ts
Due: prettier --check --ignore-unknown --write

chore(release): 0.0.22
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat:add 33
  package.json
Due: prettier --ignore-unknown --write

chore(release): 0.0.23
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat: 添加功能
  src/engine.ts
Due: prettier --check --ignore-unknown --write

chore(release): 0.0.24
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore:precommit
  .husky/pre-commit
Due: none

feat: 完善算法
  src/engine.ts
  src/formula-check.ts
  src/formula/advanced.ts
  src/formula/date.ts
  src/formula/logic.ts
  src/formula/math.ts
  src/formula/text.ts
  src/utils.ts
  src/visitor.ts
Due: prettier --check --ignore-unknown --write

test: 完善测试用例
  __tests__/formula-engine-check.spec.ts
  __tests__/formula-engine.spec.ts
Due: prettier --check --ignore-unknown --write

chore:添加 eslint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --check --ignore-unknown --write, prettier --ignore-unknown --write

chore: update changelog
  CHANGELOG.md
Due: prettier --ignore-unknown --write

chore: esm
  tsconfig.json
Due: prettier --ignore-unknown --write
